
header {
    color: white;
    text-align: center;

}

h1 {
    color: purple;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: rgb(114, 42, 114)

}
 
body {
    background: rgba(111, 111, 197, 0.678);
    font: normal 15pt Arial;
    color: rgb(102, 27, 112);
    text-align: center;

}